body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 348px;
  font-style: normal;
    font-weight: 400;
    font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Arial;
    color: #1f243c;
}

.container {
  color: #314d3e;
  min-height: 200px;
}

.brand-logo {
  height: 46px;
  padding-top: 20px;
  padding-left: 24px;
  color: red;
  line-height: 19px;
  padding-bottom: 20px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-weight: 700;
  font-style: italic;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  border-bottom: grey 0.5px solid;
}

.brand-logo::first-letter {
  font-size: 20px;
}

.brand-logo__image {
  width: 24px;
  height: 24px;
}

.controls {
  padding-top: 18px;
  padding-inline: 24px;
}

#playAll {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.all-bookmarks {
  padding-block: 16px;
}

.bookmark {
  display: flex;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding: 3px;
  padding-bottom: 7px;
  margin-bottom: 7px;
}


.bookmark-controls img {
  margin: 0 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.bookmark-controls {
  flex: auto;
  text-align: right;
}

.bookmark-btn {
  height: 50%;
  position: relative;
  top: 25%;
}

.delete-button, .play-button {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.play-button {
  margin-left: auto;
}

.video-container {
  font-weight: 700;
}

h2 {
  font-size: 16px;
  padding-inline: 24px;
}

.video-container ul {
  padding: 0;
  margin: 0;
}

.video-container li {
  display: flex;
  gap: 6px;
  align-items: center;
  transition: all .5s;
  padding-inline: 24px;
  padding-block: 8px;
}

.video-container li.active {
  background-color: #ffdf80;
}

.video-container li:hover {
  /* transform: scale(1.03); */
  /* background-color: rgb(220, 214, 214); */
  /* background-color: #15c39a; */
  background-color: #fae7b1;
  color: white;
}

