body {
  margin: 0;
  background-color: black;
  color: white;
}

img {
  width: 100%;
  top: -10vw;
  position: relative;
}

.bookmark {
  background-color: transparent;
  z-index: 2;
}

h1 {
  color: white;
  font-size: 12px;
  z-index: 2;
  position: relative;
  width: 90%;
  margin-inline: 5%;
  top: -17vw;
  text-indent: 8px;
}

h1:first-letter {
  font-size: 22px;
}

.bookmark-desc-input {
  width: 90%;
  margin-inline: 5%;
  display: inline-block;
  border-radius: 8px;
  padding: 6px;
  position: relative;
  top: -15vw;
}

.bookmark-start-input {
  width: 44%;
  margin-left: 5%;
  margin-right: 1%;
  display: inline-block;
  border-radius: 8px;
  padding: 6px;
  position: relative;
  top: -13vw;
}

.bookmark-end-input {
  width: 44%;
  margin-right: 5%;
  margin-left: 1%;
  display: inline-block;
  border-radius: 8px;
  padding: 6px;
  position: relative;
  top: -13vw;
}

.submitButton {
  margin: 0 auto;
  display: block;
  margin-top: -10vw;
  width: 90%;
  padding: 6px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  border: none;
  outline: none;
  cursor: pointer;
}
